
<div id="id04" style=" text-align:center;font-size:17px;display:none"><p>Bạn có muốn tạo mới không ?</p>
 <button type="submit" class="btn btn-outline-info" style=" border-radius: 10px;width:100px;margin-left:auto;margin-right:auto;margin-top:20px;display:block;background-color:burlywood;color:white">Đồng ý</button>
<button type="button" class="btn btn-danger" style=" border-radius: 10px;width:100px;margin-left:auto;margin-right:auto;margin-bottom:10px;margin-top:10px;display:block;color:white" onclick="document.getElementById('id03').style.display='none'">Thoát</button>
</div>