<div class="name">
    <%- ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"][date.getDay()] %>
</div>
<div class="number">
    <%- date.getDate() %>
</div>
<div>hello</div>
<div>hello</div>
<div>hello</div>