

<form class="modal-content1 animate" asp-area="MeetingRoom" asp-controller="Scheduler" asp-action="MeetingRoom"  method="post">
      <h4 style="text-align:center;margin-top:20px;margin-bottom:20px"> CHỈNH SỬA CUỘC HỌP</h4>
        <button type="button" class="btn btn-danger" style=" border-radius: 10px;width:80%;background-color:green;color:white;margin-left:auto;margin-right:auto;margin-top:20px;margin-bottom:20px;display:block;padding-bottom:8px;padding-top:8px;font-size:17px" onclick="alert(document.getElementById('startTime').value)">Sửa Phòng</button>
        <button class="btn btn-danger" style=" border-radius: 10px;width:80%;background-color:green;color:white;margin-left:auto;margin-right:auto;margin-top:20px;margin-bottom:20px;display:block;padding-bottom:8px;padding-top:8px;font-size:17px">Xóa Phòng</button>
        <button class="btn btn-danger" style=" border-radius: 10px;width:80%;background-color:green;color:white;margin-left:auto;margin-right:auto;margin-top:20px;margin-bottom:20px;display:block;padding-bottom:8px;padding-top:8px;font-size:17px">Chuyển Phòng</button>
</form>
