
  <a href="/MeetingRoom/Home/Signin" style="position:absolute;right:15px;top:25px;color:green;font-size:14px;text-decoration:none"><span class="glyphicon glyphicon-user" style="margin-right:5px"></span>Thai An</a>
