
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Index</h1>
 <div class="row" style="padding-left:40px;padding-right:40px">
      <label>Nhap ho ten</label>
 <div class="col-md-12" style="height:50px">
      <input type="Text" class="form-control" style="width:100%"/>
   </div>
   </div>  

       <div class="row" style="padding-left:40px;padding-right:40px">
       <label>Nhap ho ten</label>
       <div class="col-md-12" style="padding-right:0px;padding-left:0px">
           <input type="Text" class="form-control" style="width:100%"/>
       </div>
       </div>
      <div class="row" style="padding-left:40px;padding-right:40px">
       <div class="col-md-5" style="padding-right:0px;padding-left:0px">
        <label>Nhap ho ten</label>
        <input type="Text" class="form-control" style="width:100%"/>
       </div>
       <div class="col-md-2" style="">
       </div>
       <div class="col-md-5" style="padding-right:0px;padding-left:0px ">
      <label>Nhap ho ten</label>
       <input type="Text" class="form-control" style="width:100%"/>
       </div>
      </div><div class="row" style="padding-left:40px;padding-right:40px">
       <div class="col-md-5" style="padding-right:0px;padding-left:0px">
        <label>Nhap ho ten</label>
        <input type="Text" class="form-control" style="width:100%"/>
       </div>
       <div class="col-md-2" style="">
       </div>
       <div class="col-md-5" style="padding-right:0px;padding-left:0px ">
      <label>Nhap ho ten</label>
       <input type="Text" class="form-control" style="width:100%"/>
       </div>
      </div>

      <div class="row" style="padding-left:40px;padding-right:40px">
      <label>Nhap ho ten</label>
 <div class="col-md-12" style="padding-left:0px;padding-right:0px">
      <input type="Text" class="form-control" style="width:100%"/>
   </div>
   </div> 

   <div class="row" style="padding-left:40px;padding-right:40px">
      <label>Nhap ho ten</label>
 <div class="col-md-12" style="padding-left:0px;padding-right:0px">
      <input type="Text" class="form-control" style="width:100%"/>
   </div>
   </div> 

